/* font from google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Mulish", sans-serif;
}

/* font is end */
/* max-width and min width */
.header-section {
  max-width: 1250px;
  margin: 0 auto;
}

/* nav bar styel */
.special {
  color: #FF5400;
}

.nav-title {
  display: flex;
  align-items: center;
  width: 50%;
}

.nav-title h3 {
  font-size: 36px;
  font-weight: 800;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-icon a {
  text-decoration: none;
  gap: 30px;
  margin-right: 50px;


}

.nav-icon {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;

}

/* nav bar finished */

/* head banner */
section {
  background-image: url(../Images/Rectangle\ 5.png);
  background-repeat: no-repeat;
  height: 500px;
  width: 1170px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;



}

.head-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px 0px;
  gap: 10px;
  /* border: 2px solid darkcyan; */
}

.head-title h1 {
  font-size: 64px;
  font-weight: 800;
  color: #FFF;
}

.head-title p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FFF;
}

.list-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;

}

.btn {
  background-color: #FF5400;
  width: 164px;
  height: 52px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 10px;
}

.text-bordar {
  border: 2px solid #FFF;
  border-width: 10px;
}

/* header styel finished */

/* main section start */
.main-section {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 40px;
}

.main-1 {
  display: flex;
}

.main-1-description {
  /* border: 2px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-1-description h3 {
  font-size: 40px;
  font-weight: 800;
  color: #131318;
}

.main-1-description p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.70);
}



@media screen and (max-width:676px) {
  .head-title {
    flex-direction: column;
    margin: 0, 0px;
  }
  section {
    width: 375px;
  }
  .head-title p{
    width: 200px;
  }
  .head-title h1 {
    width: 200px;
  }
  
}